div.webvim.cli{
    position:relative;
    font-family:monospace;
    white-space:pre;
    line-height:1;
    color:var(--foreground-color);
    background-color:var(--background-color);
}
div.webvim.cli>div{
    position:absolute;
}
div.webvim.cli>textarea.input{
    font-family:monospace;
    position:absolute;
    border:0;
    padding:0;
    resize:none;
    overflow:hidden;
    outline:none;
    width:0;
    color:var(--background-color);
    background-color:var(--foreground-color);
    z-index:1;
}
