div.webvim{
    position:relative;
}
div.webvim div.cli{
    position:relative;
    font-family:monospace;
    white-space:pre;
}
div.webvim>textarea.input{
    font-family:monospace;
    border:0;
    padding:0;
    resize:none;
    overflow:hidden;
    outline:none;
    width:0;
    color:white;
    background-color:black;
    z-index:1;
    position:fixed;
}
